body {
  background: url(scroll\ 2\ bg.png) repeat-y center center;
  background-size: cover;
  font-family: sans-serif;
   padding: 25px;
      text-align: center;
    
}

h1 {
  font-size: 42px;
  font-weight: 700;
  color: #111;
  margin: 40px 0 20px;
  
}
.main {
  font-size: 15px;
  color: #666;
  margin: 10px 0 20px;
  line-height: 1.5;
}
.steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 90px;
}
.step {
  margin-top: 30px;
  position: relative;

}

.icon-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 32px;
  position: absolute;
  top: -70px;
  left: 50%;
  z-index: 2;
  transform: translate(-50%);
}
.purple {
  background: #4e4187;
}
.blue {
  background: #3083dc;
}
.green {
  background: #7dde92;
}
.card {
  background: #fff;
  border-radius: 15px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 50px 20px 20px; 
}
.card h3 {
  margin: 6px 0 10px;
  font-size: 18px;
  color: #111;
}
.card p {
  margin: 0;
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}
.card:hover {
  transform: translateY(-6px);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  box-shadow: 0 18px 40px rgba(15, 30, 40, 0.12);
}

@media (max-width: 768px) {
  .steps {
    flex-direction: column;
    align-items: center;
  }
  .icon-circle{
    position: absolute;
  top: -40px;
  }
}
